body {
  background: rgb(228, 227, 227);
  margin-top: auto;
}

/* Smartphones */

@media screen and (max-width: 360px) {
  .header {
    background-size: 15em;
    height: 5em;
  }
  .nav-bar a {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  #showcase .showcase-content {
    top: 110px;
  }
}

@media (max-height: 568px) {
  #showcase .showcase-content {
    margin-top: -2rem;
    top: 140px;
  }

  .l-heading {
    font-size: 1.5rem;
    text-justify: center;
  }

  .lead {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  body {
    height: 100vh;
    margin-top: 0;
  }

  .media {
    margin-top: 0;
    flex: 1;
    flex-direction: column;
    text-align: center;
  }
  .item-contact {
    border-bottom: 1px solid black;
  }
  .l-heading {
    font-size: 2.5rem;
  }
  .lead {
    font-size: 1.25rem;
  }

  /* suppress hover effect on devices that don't support hover fully*/

  @media (hover: none), (hover: on-demand) {
    .container .gallery::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(53, 53, 53, 0);
      transition: 0.7s;
    }
  }
}

@media screen and (max-width: 1017px) {
  div.container {
    margin: 0 calc(2.5% - 0px);
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    width: 95%;
    min-height: 1500px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:
      300px
      300px 300px 300px 300px;
    grid-template-areas: "pic1 pic2" "pic1 pic3" "pic4 pic4" "pic5 pic5" "pic6 pic7";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 700px) {
  div.container {
    margin: 0 calc(5% - 0px);
    margin-top: 30px;
    margin-bottom: 30px !important;
    position: relative;
    width: 90%;
    min-height: 1800px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "pic1" "pic2" "pic3" "pic4" "pic5" "pic6" "pic7";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 30px;
  }
  div.container .gallery {
    position: relative;
    width: 100%;
    min-height: 250px;
  }
}
@media screen and (max-width: 430px) {
  div.container .gallery {
    min-height: 200px;
  }
  div.container .gallery img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }
}
